.App {
  text-align: center;
}

:root{
  --lightBg :  #F5F1ED;
  --textColor : #1F1F1F;
  --textRed : #A95454;
  --textGolden : #E0B51D;
  --textLight : #ACB5BD;

  --borderColor: Mixed solid #1F1F1F;

}


